.App.normal {
  --bg-color: #f1f1f1;
  --secondary: #0a4a9d;
	--primary: #005393;
  --menu-bg: #a9a9a9;
  --invert-menu-bg: #181818;
  --link-color: #111111;
  --link-color-secondary: #59785b;
  --link-color-primary: #405b41;
}